.cell {
    border: solid rgb(0, 0, 0);
    height: 150px;
    aspect-ratio: 1/1;
    margin: 0;
    font-size: 100px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

.settings {
    display: flex;
    flex-direction: column;
}

.names {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.playerSettings {
    display: flex;
    flex-direction: column;
}

.status {
    display: flex;
    justify-content: center;
}