.square {
    width: 10%;
    aspect-ratio: 1/1;
    background-color: aquamarine;
    
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px black solid;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.hitMarker {
    width: 30%;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 100%;
}

.missMarker {
    width: 30%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
}