body {
    background-color: rgb(33, 33, 187);
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

.boardColumn {
    width: 40%;
}

.shipColumn {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.shipDisplayDown {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shipDisplayLeft {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.shipDisplayUp {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.shipDisplayRight {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boards {
    display: flex;
    justify-content: space-around;
}

.board {
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.square {
    width: 10%;
    aspect-ratio: 1/1;
    background-color: rgb(127, 225, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px black solid;
}

.shipSquare {
    width: 10%;
    aspect-ratio: 1/1;
    background-color: rgb(75, 86, 90);

    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px black solid;
}

.selectedSquare{
    width: 10%;
    aspect-ratio: 1/1;
    background-color: rgb(189, 130, 63);

    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px black solid;
}

.hitMarker {
    width: 30%;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 100%;
}

.missMarker {
    width: 30%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
}